/* Font downloaded and use */
@font-face {
  font-family: myFont;
  src: url("../fonts/Bangers-Regular.ttf");
}

@font-face {
  font-family: font2;
  src: url("../fonts/VarelaRound-Regular.ttf");
}

@font-face {
font-family: font3;
src: url("../fonts/Oswald-VariableFont_wght.ttf");
}
/* Logo */

.top_logo {
text-align:center;
margin-bottom: 5px;
}

.top_logo > img {
width:200px;
}

/* Navigation bar properties */
.topnav {
overflow: hidden;
background-color: #70010c;
}


.topnav a {
float: left;
display: block;
color: #ffffff;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}
/* Change Nav colour when hover */
.topnav a:hover {
background-color: rgb(243, 0, 0);
color: rgb(245, 245, 245);
font-size: 20px;
}

/* Change colour on click */
.topnav a:active {
background-color: rgb(3, 78, 7);
color: rgb(245, 245, 245);
font-size: 20px;
}


.topnav input[type=text] {
float: right;
padding: 6px;
margin-top: 8px;
margin-right: 16px;
border: none;
font-size: 17px;
}

@media screen and (max-width: 600px) {
.topnav a, .topnav input[type=text] {
  float: none;
  display: block;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 14px;
}

.topnav input[type=text] {
  border: 1px solid #ccc;  
}

/* Darker background on mouse-over */
.btn:hover {
background-color: RoyalBlue;
}
/* About us text & background colour */
.about{
background-color: #70010c;
color: #ffffff;
font-size: 20px;
}
/* genre bar */
.gen{
background-color: #70010c;
color: #ffffff;
font-size: 20px;
}
.about p{
padding: 5px;
}

body {
  font-family: myFont;
  background-color: #DEDEDE;
}

/* body */

.portfolio {
  margin:0 150px;
}



.centerContent {
  margin-top: 30px;
}

.centerContent > div > p {
font-family: font3;
text-align: justify;
margin:0 10px;
}

.centerContent > div {
  text-align: center;
  width: 24.7%;
  margin:5px 0;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
 
}

.centerContent > div > div {
  width: 100%;
  background-color: #70010c;
  color: white;
  padding:10px 0;
  cursor: pointer;
}

.centerContent > div > div:hover{
  background-color: #000000;
  color: rgb(255, 0, 0);
  transition: 0.3s ease-in;
}

.centerContent > div > img {
  width: 100%;
}


/* New and popular */
.popular {
margin-top: 30px;

}

.popular > div {
text-align: center;
width: 24.7%;
margin:5px 0;
box-sizing: border-box;
display: inline-block;
vertical-align: top;

}

.popular > div > div {
width: 100%;
background-color: #70010c;
color: white;
padding:10px 0;
cursor: pointer;
}

.popular > div > div:hover{
background-color: #DEDEDE;
color: black;
transition: 0.3s ease-in;
}
.popular > div > img {
width: 100%;
}



.contactForm {
  margin-top:40px;
  padding: 20px;
  background-color: #70010c;
}

.contactForm > input, textarea {
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  margin:4px 0;
  width: 400px;
}

button {
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px;
  cursor: pointer;

}
/* Social Style links */
.fa {
padding: 20px;
font-size: 20px;
width: 30px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
border-radius: 50%;
float: right;
}

.fa:hover {
  opacity: 0.5;
}

.fa-facebook {
background: #3B5998;
color: white;
}

.fa-twitter {
background: #55ACEE;
color: white;
}

.fa-google {
background: #dd4b39;
color: white;
}

.fa-youtube {
background: #bb0000;
color: white;
}

footer {
text-align: center;
padding: 3px;
background-color: #000000;
color: rgb(243, 8, 8);
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 768px) {
  .portfolio {
      margin:0 20px;
  }

  .centerContent > div {
      width: 49%;
  }

  .contactForm > input, textarea {
      width: 100%;
      box-sizing: border-box;
  }
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 375px) {
  .portfolio {
      margin:0 20px;
  }

  .centerContent > div {
      width: 100%;
  }
}